.app-container {
  z-index: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: scroll;

  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );

  .route-container-bg {
    width: 100%;
    display: flex;
    flex: 1;

    .route-container {
      background: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0.75) 0%,
        hsla(0, 0%, 100%, 0.96) 50%
      );

      border-radius: 5px;
      padding: 20px;
      width: 80%;
      margin: 60px auto 100px auto;

      -webkit-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.3);
      box-shadow: 0px 0px 9px -2px rgba(0, 0, 0, 0.3);
    }
  }
}
