.app-container {
  z-index: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;

  background: linear-gradient(
    60deg,
    hsl(252, 52%, 47%) 0%,
    hsl(187, 100%, 38%) 100%
  );

  .route-container-bg {
    width: 100%;
    display: flex;
    flex: 1;

    .route-container {
      overflow-x: scroll;
      display: flex;
      flex: 1;
    }
  }
}
